
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head> 
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta http-equiv="content-script-type" content="text/javascript"/>

        <title> {{ page.title }} | Mark Doffman </title>

        <!-- Font CSS -->
        <link href='http://fonts.googleapis.com/css?family=Cantarell'
              rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn&amp;subset=latin'
              rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono'
              rel='stylesheet' type='text/css'/>

        <!-- Base CSS -->
        <link rel="stylesheet" href="/css/blueprint.css"
              type="text/css" media="screen, projection"/>
        <link rel="stylesheet" href="/css/screen.css"
              type="text/css" media="screen, projection"/>

        <script type="text/javascript"
                src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

        <!-- Create a fixed viewport on mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes"/>
    </head>

    <body>
      {{ content }}
    </body>
</html>
