---
layout: default
---
<div class='container headroom'>
<div id='page'>

<a href="http://github.com/you"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>

<img id='headshot' src='/media/markpolaroid.png' alt='Headshot of Mark Doffman'/>

<div id='about'>
  {{content}}
</div>

<div id='contact'>
  <ul class='box-list'>
    <li><a href="http://twitter.com/doffm">
      <img src='/media/twitter-48x48.png' alt='twitter'/>
    </a></li>
    <li><a href="http://doffm.posterous.com/">
      <img src='/media/posterous-48x48.png' alt='posterous'/>
    </a></li>
    <li><a href="http://www.facebook.com/mark.doffman">
      <img src='/media/facebook-48x48.png' alt='facebook'/>
    </a></li>
    <li><a href="http://uk.linkedin.com/pub/mark-doffman/14/924/204">
      <img src='/media/linkedin-48x48.png' alt='LinkedIn'/>
    </a></li>
    <li><a href="https://plus.google.com/116842247930565870346">
      <img src='/media/google+-48x48.png' alt='facebook'/>
    </a></li>
  </ul>
</div>

<div id='projects'>
  <h4> Projects </h4>
</div>

<dl>
{% for post in site.posts %}
  <dt><a href="{{ post.url }}">{{ post.title }}</a></dt>
  <dd>{{post.description}}</dd>
{% endfor %}
</dl>

</div>
</div>
